[package]
name = "manager"
version = "0.1.0"
edition = "2021"

[dependencies]
tokio = { version = "*", features = ["full"] }
redis = { version = "1.0.2", features = ["tokio-comp","r2d2"] }
r2d2 = "0.8.10"
rumqttc = "0.25.1"
sysinfo = "0.37.2"
