[package]
name = "contract"
version = "0.1.0"
edition = "2021"

[features]
default = ["mqtt"]
mqtt = []

[dependencies]

serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
chrono = { version = "0.4", features = ["serde"] }
dotenv = "0.15"
